<ng-container *ngIf="idFuncionario; else admin">
  <div class="funcionario">
  <div class="container">
    <div class="forms">
        <div class="form login">
            <span class="title">Cadastrar</span>

            <form [formGroup]="form" (ngSubmit)="onCadastro()">
              <div class="input-field">
                  <input type="text" placeholder="Entre com usuário" formControlName="username">
              </div>

              <div class="input-field">
                  <input type="password" class="password" placeholder="Digite a sua senha" formControlName="password">
              </div>

              <div class="input-field">
                <input type="password" class="password" placeholder="Digite a sua senha" formControlName="confirmarSenha">
              </div>

              <div class="input-field button">
                  <input type="submit" value="Cadastrar">
              </div>
            </form>
        </div>
    </div>
  </div>
  </div>
</ng-container>

<ng-template #admin>
  <div id="login">
    <div class="container">
      <div class="forms">
          <div class="form login">
              <span class="title">Cadastrar</span>

              <form [formGroup]="form" (ngSubmit)="onCadastro()">
                <div class="input-field">
                    <input type="text" placeholder="Entre com usuário" formControlName="username">
                </div>

                <div class="input-field">
                    <input type="password" class="password" placeholder="Digite a sua senha" formControlName="password">
                </div>

                <div class="input-field">
                  <input type="password" class="password" placeholder="Digite a sua senha" formControlName="confirmarSenha">
                </div>

                <div class="input-field button">
                    <input type="submit" value="Cadastrar">
                </div>
              </form>
          </div>
      </div>
    </div>
  </div>
</ng-template>
